.playerTurn {
  background-color: rgb(176, 253, 211);
  border-radius: 25px;
}

.waitingForTurn {
  background-color: rgb(248, 253, 176);
  border-radius: 25px;
}

.winner {
  background-color: rgb(47, 172, 30);
  border-radius: 25px;
}

.loser {
  background-color: rgb(170, 65, 33);
  border-radius: 25px;
}